* {
    font-family: "Montserrat", Arial;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.nav-bar-container {
    display: flex;
    background-color: #343a40;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    font-size: 16px;
    color: white;
}

.nav-bar-logo, .nav-bar-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.nav-bar-logo {
    margin: 80px;
    font-weight: bold;
    font-size: 20px;
}

.nav-bar-list {
    display: flex;
    align-items: center;
    margin: 80px;
}


.links-list {
    list-style-type: none;
    width: 70px;
    text-decoration: none;
}

.contact-logo {
    width: 25px;
    height: auto
}

.introduction-container {
    display: flex;
    height: 900px;
    margin: 0px;
    background: #fbfbfb;
}

.self-photo {
    max-width: 900px;
    flex: 1 1 auto;
}

.introduction-text {
    align-items: center;
    flex: 1 1 auto;
    max-width: 800px;
    color: #181716
}

.name {
    margin-top: 350px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.self-description {
    font-size: 30px;
    text-align: center;
}

.interests-container {
    display: flex;
    background-color: white;
    height: 250px;
    align-items: center;
    gap: 30px;
}

.interests-container div {
    flex: 1 0 auto;
    text-align: center;
}

.interest-writing {
    font-size: 32px;
}

.cryptocurrency-image {
    width: 110px;
    height: auto;
}

.econ-finance-image {
    width: 110px;
    height: auto;
}

.ai-ml-ds-image {
    width: 110px;
    height: auto;
}

.game-image {
    width: 110px;
    height: auto;
}

.projects-title {
    display: flex;
    height: 160px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.projects-text-title, .projects-text-description {
    flex: 1 1 0;
}

.projects-text-title {
    font-weight: bold;
    font-size: 32px;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 210px;
}

.projects-item {
    display: flex;
    height: 175px;
    width: 600px;
    background-color: #fbfbfb;
    align-items: center;
    justify-content: flex-start;
}

.experience-image {
    height: 150px;
    width: auto;
    margin: 10px;
}

.experience-image-2 {
    height:140px;
    width: auto;
    margin: 18px;
}

.experience-description {
    font-weight: bold;
    font-size: 16px;
    color: #181716;
}

.vertical-gap {
    height: 30px;
}

.horizontal-container {
    display: flex;
    justify-content: center;
}

.horizontal-line {
    flex: 0 1 auto; 
    background-color: #181716;
    height: 1px;
    width: 1230px;
}

.achievements-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    gap: 50px;
}

.achievements-title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 339px;
}

.achievements-list li {
    margin-top: 30px;
    font-size: 20px;
}